# Compiled Object files
*.slo
*.lo
*.o
run
test

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#vi
*~

#django
*.log
*.pot
*.pyc
local_settings.py
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

#automake
Makefile.in
config.h
config.log
config.status
configure
Makefile
*.cache
aclocal*
m4/
config.guess
config.sub
stamp*
config.rpath
*.swp
.deps
